<p>modal-example1 works!</p>

<div style = 'width:500px'>

	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Automatically open ng-bootstrap modal</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');setResult()"></button>
		</div>
		<div class="modal-body">
			@for (r of data; track r) {
				<div>
					{{r.name}}
				</div>
				
			}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click');showModal.set(false);setResult()">Save</button>
		</div>
	</ng-template>
</div>

<button [hidden] = true id = 'openButton' class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>