<p>modal-example1 works!</p>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Automatically open ng-bootstrap modal</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
		body..............
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button [hidden] = true id = 'openButton' class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>