<h2>Menu</h2>

<button class='btn btn-primary' routerLink=''>Home</button>

<div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
        Toggle dropdown
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button ngbDropdownItem routerLink = 'htmlDialog'>HTML dialog</button>
        <button ngbDropdownItem routerLink = 'htmlDialog2'>HTML dialog 2</button>
        <button ngbDropdownItem routerLink = 'testObjectUpdateInForms'>Test model() object <br>update in forms</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
    </div>
</div>



    <button class='btn btn-primary' routerLink='route1'>Go to route1</button>
    <button class='btn btn-primary' routerLink='modalexample1'>Modal example 1</button>
    <button class='btn btn-primary' routerLink='callModal1'>Call page with modal1</button>

    <hr>